@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * , OrnekProje

<a href="mailto:eren.donmez.11@gmil.com">Email</a>

<ahmet email="eren.donmez.11@gmail.com" ,  display="Şaban Dönmezin Mail'i " ></ahmet>
